<section class="main-section" id="start">
  <h1 class="main-title">Disfruta creando espacios</h1>
  <div>
    <button class="button-buy-1">
      <a href="https://adalab.es/" target="_blank">Comprar ahora</a>
    </button>
  </div>
</section>

<section class="benefits-section">
  <h2 class="benefits-title">Volverse organizado se siente mejor con OPEN SPACES</h2>
  <div class="benefits-container">
    <div class="benefit-1">
      <div class="benefit-icon">
        <img src="/images/icon_1.png" alt="icono de una mesa con varios jarrones encima" >
      </div>
      <h3 class="benefit-subtitle">Lo que necesitas</h3>
      <p class="benefit-paragraph">Una línea de productos diseñados para todos tus espacios</p>
    </div>
    <div class="benefit-2">
      <div class="benefit-icon">
        <img src="/images/Biodegradable bag.png" alt="icono de una bolsa de reciclaje" >
      </div>
      <h3 class="benefit-subtitle">Materias primas sustentables</h3>
      <p class="benefit-paragraph">Todos los productos con materias primas sustentables</p>
    </div>
    <div class="benefit-3">
      <div class="benefit-icon">
        <img src="/images/Park.png" alt="icono de un cartel que indica la dirección de un parque a la derecha" >
      </div>
      <h3 class="benefit-subtitle">Guía</h3>
      <p class="benefit-paragraph">Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </div>
  </div>
</section>

<section class="shipment-section">
  <img src="/images/go_6.png" alt="icono de una furgoneta de transporte" >
  <h2 class="shipment-title">Envío gratis garantizado</h2>
  <p>Envío gratis en compras desde 100€</p>
  <button class="button-buy-2">
    <a href="https://adalab.es/" target="_blank">Comprar ahora</a>
  </button>
</section>

<section class="enjoy-section">
  <div class="enjoy-container">
    <h2 class="enjoy-title">Disfruta creando espacios</h2>
    <p class="enjoy-paragraph">Una línea de productos diseñados para todos tus espacios</p>
    <div>
      <button class="button-buy-3">
        <a href="https://adalab.es/" target="_blank">Comprar ahora</a>
      </button>
    </div>
  </div>
  <div class="bath-image-box">
    <img class="bath-image" src="/images/creando-espacios.jpg" alt="detalle de un cuarto de baño con dos cestas en el suelo con papel higiénico y toallas, y una papelera al fondo" >
  </div>
</section>
